@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="text-center">Formulario de Usuarios</h2>
    <h5>Ingrese la información del nuevo usuario</h5>
    <hr />


    @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.IdUsuario)
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user fa-lg"></i></span>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                </div>

            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoPaterno)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user fa-lg"></i></span>
                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                </div>


            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoMaterno)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user fa-lg"></i></span>
                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control"})
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.FechaNacimiento)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user fa-lg"></i></span>
                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @placeholder = "dd-MM-YYYY", @type = "date" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Rol.IdRol)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user fa-lg"></i></span>
                    @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Selecciona un rol ", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <h4 class="text-center">Información de la dirección</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Direccion.Estado.Pais)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-flag"></i></span>
                    @Html.DropDownListFor(model => model.Direccion.Estado.Pais.IdPais, new SelectList(Model.Direccion.Estado.Pais.Paises, "IdPais", "Nombre"), "Selecciona un Pais ", new { @class = "form-control", @id = "ddlPais" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Direccion.Estado)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-flag"></i></span>
                    @if (Model.Direccion.Estado.Estados == null)
                    {
                        @Html.DropDownListFor(model => model.Direccion.Estado.IdEstado, new SelectList(String.Empty), "Selecciona un Pais primero ", new { @class = "form-control", @id = "ddlEstado" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Direccion.Estado.IdEstado, new SelectList(Model.Direccion.Estado.Estados, "IdEstado", "Nombre"), "Selecciona un Estado ", new { @class = "form-control", @id = "ddlEstado" })

                    }
                </div>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Direccion.Calle)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                    @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.Direccion.NumeroExterior)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                    @Html.TextBoxFor(model => model.Direccion.NumeroExterior, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <img id="img" src="https://www.computerhope.com/jargon/g/guest-user.png" width="200" height="200"/>
                <input id="Imagen" name="Imagen" type="file" class="form-control" onchange="ValidarImagen(), visualizarImagen(this)"/>
            </div>
        </div>
        <div class="text-center" >
            <button id="btnGuardar" class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            <a id="btnCancelar" onmouseover="CambiarColor()" class="btn btn-danger"  href="@Url.Action("GetAll", "Usuario")"><i class="fa-solid fa-right-from-bracket"></i> Volver</a>
        </div>

    }

</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $("#ddlPais").change(function () {
        $("#ddlEstado").empty();
        $.ajax({
            url: "http://localhost:56970/Usuario/EstadoGetByIdPais", //direccion donde hara la peticion
            type: "GET", //verbo del controlador
            dataType: "json", //formato para la información
            data: { IdPais: $("#ddlPais").val() }, //los datos que necesitemos enviar
            success: function (result) {
                $("#ddlEstado").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                $.each(result, function (i, result) {
                    $("#ddlEstado").append('<option value="'
                        + result.IdEstado + '">'
                        + result.Nombre + '</option>');
                });
            },
            error: function (error) {
                alert('Ocurrio un error la consultar los estados del pais');
            }
        });

    });
    $("#btnGuardar").mouseenter(function () {
        $("#btnGuardar").addClass("fa-beat").mouseout(function () {
            $("#btnGuardar").removeClass("fa-beat")
        })
    })
    function CambiarColor() {
        $("#btnCancelar").toggleClass("btn-danger btn-secondary")
    }

    function ValidarImagen() { 
        var extensionesPermitidas = ['jpeg', 'jpg', 'png'];                                             
        var extensionArchivo = document.getElementById('Imagen').value.split('.').pop().toLowerCase();
        var isValidFile = false; //saber si es valida o no es valida
        for (var index in extensionesPermitidas) {
            if (extensionArchivo === extensionesPermitidas[index]) {
                isValidFile = true;
                break;
            }
        }
        if (!isValidFile) {
            alert('Las extensiones permitidas son : *.' + extensionesPermitidas.join(', *.'));
            $("#Imagen").val("")
        }
        return isValidFile;

    }
    function visualizarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
