@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
@Scripts.Render("~/bundles/jquery")
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<div class="text-center">
    <h2>Usuarios</h2>
    <h5>Lista de usuarios registrados</h5>
</div>
<hr />
<div class="row">
    <div class="col-auto ms-auto">
        <a href="@Url.Action("Form", "Usuario")" class="btn btn-success">Agregar</a>
    </div>
</div>
@if (Model.Usuarios.Count > 0)
{
        <table class="table table-dark table-hover table-striped " id="myTable">
            <thead>
                <tr class="table-secondary">
                    <th class="text-center">Editar</th>
                    <th class="text-center">Imagen</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Rol</th>
                    <th>Status</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Usuario usuario in Model.Usuarios)
                {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning" href="@Url.Action("Form", "Usuario", new {IdUsuario = usuario.IdUsuario})"><i class="fa-solid fa-pencil"></i></a></td>
                        <td class="text-center">
                            @if (usuario.Imagen == "" || usuario.Imagen == null)
                            {
                                <img  src="https://www.computerhope.com/jargon/g/guest-user.png" width="50" height="50" />
                            }
                            else
                            {
                                <img src="data:image/*;base64,@usuario.Imagen" width="50" height="50" />
                            }
                        </td>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.ApellidoPaterno</td>
                        @if (usuario.Rol.Nombre == "Admin")
                        {
                            <td style="font-weight:bold; color: #18D071"><i class="fa-solid fa-user-tie fa-lg"></i> @usuario.Rol.Nombre</td>
                        }
                        else
                        {
                            <td style="font-weight: bold; color: #75B5F5"><i class="fa-solid fa-user fa-lg"></i> @usuario.Rol.Nombre</td>
                        }
                        @if (usuario.Status)
                        {
                            <td  style="text-align: center; vertical-align: middle;">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked onchange="ChangeStatus(@usuario.IdUsuario, this)">
                                </div>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center; vertical-align: middle;">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="ChangeStatus(@usuario.IdUsuario, this)" >
                                </div>
                            </td>
                        }

                        <td class="text-center"> <a class="btn btn-danger" href="@Url.Action("Delete", "Usuario" ,new {IdUsuario = usuario.IdUsuario})"><i class="fa-solid fa-trash-can" style="color:white;"></i></a>
                    </tr>
                }
            </tbody>
        </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No existen registros en la tabla :(
    </div>
}
<script type="text/javascript">
    let table = new DataTable('#myTable', {
        reponsive: true,
        "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
        searching: false,
        language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
        },
    });

    function ChangeStatus(idUsuario, e) {
        var status = e.checked

        $.ajax({
            url: '@Url.Action("ChangeStatus")',
            data: { IdUsuario: idUsuario, Status : status },
            type: 'POST',
            dataType : 'json',
            success: { },
            error: {
                //alert('Ocurrio un error')
            }

        })

        
    }

</script>
